
@font-face{
  font-family: 'Baskervville';
  src: url(Baskervville/Baskervville-Regular.ttf);
}

body{
  background-color: #c8c8c8;
  font-size: 20px;
  font-family: 'Lato';
  width: 90vw;
  margin: 0 auto;
}
h1{
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  font-family: 'Baskervville','Serif';
}

h2{
  color: #cf0025;
  font-weight: bold;
  font-family: 'Baskervville','Serif';
  font-size: 40px;
}

.liens{
  color: #cf0025;
  font-weight: bold;
}

#events_table{
  border-collapse: collapse;
  width: 90vw;
  margin: 0 auto;
}

#events_table_header{
  position: relative;
  background-color:#333333;
  color: white;
  text-align: center;
  font-weight: bold;
  left: 10px;
}

#y{
  width: 80px;
}

#container_image{
  background-color: rgb(20, 19, 19);
  color: white;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  border: 2px solid #cf0025;
  border-radius: 10px;
  padding: 20px 20px 20px;
}

#server_image{
  position: relative;
  width: 100%;
  height: 100%;
  
}



#formated_paragraph{
  border: 2px dashed #5f54af;
  color: #5f54af;
  background-color: #b7b7b7;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
  margin: 2rem;
}

.years{
  font-weight: bold;
  text-align: center;
  position: relative;
}

.table_row:hover{
  background-color:#999999;
}

.colored_year{
  background-color: #dddddd;
}

#citation_web{
  font-style: italic;
}
 #abbreviations{
   font-style: italic;
 }
